@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #006398;
  --primary-light-color: #cde5ff;
  --primary-dark-color: #001d31;
}

/* Light theme */
[data-theme="light"] {
  --primary-color: #006398;
  --primary-light-color: #cde5ff;
  --primary-dark-color: #001d31;
}

/* Dark theme */
[data-theme="dark"] {
  --primary-color: #93ccff;
  --primary-light-color: #004b74;
  --primary-dark-color: #cde5ff;
}

/* CSS styles using the primary color */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-light-color);
  text-decoration: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
}
